@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --cor00: #732E2E;
    --cor01: #402626;
    --cor02: #0D0D0D;
    --cor03: #A62121;
    --cor04: #D90000;
    --cor05: #A68524;
    --cor06: #F2C029;

    --fonte-padrao: 'Raleway', sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
    
}

.nav-container {
    display: flex;
    justify-content: space-between; /* Isso distribuirá os itens ao longo da largura do container */
    background-color: var(--cor02);
}

.main-nav {
    display: flex; /* Isso faz com que os itens dentro de cada nav fiquem lado a lado */
    align-items: center; /* Isso centraliza verticalmente os itens dentro de cada nav */
    /* Adiciona a cor de fundo desejada usando variável CSS */
    padding: 0px 10px; /* Adiciona o preenchimento desejado */
     /* Adiciona a sombra desejada */
}


.main-nav a{
    margin-right: 15px; /* Isso adiciona um espaço à direita entre os itens para melhorar a aparência */
    color: white; /* Adiciona a cor do texto desejada */
    padding: 10px; /* Adiciona o preenchimento desejado */
    border-radius: 5px; /* Adiciona a borda arredondada */
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

.main-nav a:hover {
    color: var(--cor06); /* Adiciona a cor desejada ao passar o mouse */
}

.social-media {
    display: flex;
    align-items: center;
    padding: 0px 10px; 
    margin-top: 8px;
}


.social-media a {
    margin-right: 25px; /* Mesma margem que em main-nav */
}

.social-media img {
    width: 25px;
    height: 25px;
    transition-duration: 0.5s;
}

.social-media a:hover {
     
}

header{
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor00));
    text-align: center;
    /*min-height: 150px;
    padding-top: 10px;*/
    height: 350px;
    padding: 50px 20px 120px;
}


header > p{
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.514);
}




main{
    min-width: 300px;
    margin: auto;
   /* margin-top: 20px;*/
    /*margin-left: 174.5px;*/
    /*margin-right: 174.5px;*/
    margin-bottom: 30px;
    /*padding: 20px;*/
    background-color: white;
    
}


main section.events > h1{
    font-family: var(--fonte-padrao);
    font-size: 30px;
    line-height: 30px;
   
}


div.conteiner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   /* margin-top: 20px;*/
    margin-left: 174.5px;
    margin-right: 174.5px;
}

div.eventos{
    font-family: var(--fonte-padrao);
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    width: 66.66%;
}


div h1{
    color: var(--cor00);
    font-weight: bold;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    line-height: 30px;
}

div h3{
    font-size: 21px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 40px;
    position: relative;
}

div h3::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5%;
    width: 10%; 
    height: 2px;
    background-color: red;
    transform: translateX(100%); 
}

div ul{
    padding-top: 8px;
    padding-left: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div ul >li.data{
    font-family: var(--fonte-padrao);
    font-size: 15px;
    list-style-type: '\1F4C5\00a0\00a0';
}

div ul > li.local{
    font-family: var(--fonte-padrao);
    list-style-type: '\1F4CC\00a0\00a0' ;
}

.nav-eventos{
    padding-left: 40px;
}
 
.nav-eventos > a{
    color: var(--cor04);
    font-family: var(--fonte-padrao);
    font-size: 0.9em;
    margin-top: 0px;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5;
    /*pointer-events: none;*/
}

.nav-eventos > a:hover{
    text-decoration: underline;
    
}

div.regras{
    font-size: 1em;
    text-align: justify;
    line-height: 2em;
    margin: 15px 0px;
}

.regras a img{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.164);
    
}

.regras > a{
    text-decoration: none;
}

.tabela{
    margin-top: 100px;
    padding-top: 50px;
}

@media screen and (max-width: 1140px) {
    main section.events > h1 {
        font-size: 24px;
    }

    div.conteiner {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    div.eventos {
        width: 100%;
    }

    div.regras {
        margin-top: 20px;
    }
}

.ult-not{
    background-color: #eee;
}


.ult-not > h1{
    color: var(--cor00);
    font-weight: bold;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 20px 20px;
}

.noticias{
    padding-left: 174.5px;
    padding-right: 174.5px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.noticias > div{
    width: 327px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    position: relative;
}

.noticias > div img{
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.164);
}

.not1,
.not2,
.not3 {
    position: relative;
}


.not1 a,
.not2 a,
.not3 a {
    color: white;
    width: 100px;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background-color: var(--cor02);
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;

}

.not1 a:hover,
.not2 a:hover,
.not3 a:hover {
    background-color: var(--cor00);
}

.noticias > div h4{
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    text-transform: uppercase;
    
}

.noticias > div p{
    font-family: var(--fonte-padrao);
    width: 100%;
    margin: 0px;
    padding-top: 5px;
    line-height: 2em;
   
}

article{
    background-color: var(--cor01);
}

article > h1{
    color: white;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 20px 20px;
}




section.cont-ranking {
    background: linear-gradient(to bottom, var(--cor01), var(--cor00));
    padding-bottom: 30px;
    /* Outras propriedades da sua seção... */
}

.cont-ranking  h1{
    color: white;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 20px 20px;
}

section.ranking {

    display: flex;
    justify-content: space-around; /* ou use 'space-between' para espaçamento entre as tabelas */
    margin-left: 30px;
    margin-right: 30px;
}

.table-container {
    flex: 1;
    max-width: 48%; /* Defina a largura máxima desejada para cada tabela */
}



/* Remova a largura fixa da tabela para que ela se ajuste à largura máxima permitida */
.table-container table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 8px;
}

.table-container:not(:last-child) {
    margin-right: 10px;
}

.masc caption,
.fem caption {
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 20px;
}

.masc,
.fem {
    background-color: white;
}

.masc th,
.fem th {
    color: var(--cor01);
    font-family: var(--fonte-destaque);
    font-size: 45px;
    text-align: center;
    padding: 8px;
}

.masc td,
.fem td {
    padding: 8px;
    border-bottom: 0.8px solid var(--cor00);
}

.masc td:last-child,
.fem td:last-child {
    border-bottom: none;
}

.masc td .nome,
.fem td .nome,
.masc td .equipe,
.fem td .equipe {
    font-family: var(--fonte-padrao);
}

.masc td .nome,
.fem td .nome {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.masc td .equipe,
.fem td .equipe {
    font-size: 14px;
}


.pontuaçao{
    font-family: var(--fonte-padrao);
    font-size: 30px;
    text-align: right;
}

.todos{
    border: 2px solid white;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.363);
    width: 100%;
    margin-left: 10px;

}

.todos a {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition-duration: 0.5s; /* Adicione 's' para indicar segundos na duração da transição */
}

.todos a:hover {
    color: var(--cor06);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraphs {
    display: flex;
}

footer p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 11px;
   margin: 20px 10px;
}